.container-loader {
    position: relative;
}

.overlay-loader {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 24px;
    padding: .2em .2em;
    background-color: none;
    z-index: 999;
}